.layout-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  border-left: 1px solid #EEE;
}

.field {
  width: 343px;
  height: 500px;
  background-image: url('../assets/field-bg.jpg');

  display: flex;
  flex-flow: column nowrap;

  .layout {
    flex: 1;
    position: relative;
    margin: 35px 25px;

    .position {
      position: absolute;
    }
  }

  .player {
    width: 28px;
    height: 28px;

    box-shadow: 1px 1px 2px #000;
  }
}
