@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$primary-color: #629a62;
$secondary-color: #7abd7a;

*, :after, :before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-size: 14px;

  // background-image: url('../assets/stadium.jpg');
  // background-size: cover;
  background-color: #FAFAFA;

  box-sizing: border-box;
}

header {
  text-align: center;
  margin-bottom: 100px;
}

footer {
  margin-top: 50px;

  .footer-link {
    text-align: center;
    padding: 50px 0;
  }
}

a {
  color: #09C;
  text-decoration: none;
}

.content {
  width: 1050px;
  margin: 0 auto;

  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  background-color: #FFF;

  display: flex;
  .left-content, .right-content {
    flex: 1;
  }

  .left-content {
  }

  .right-content {
    .layout-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 20px;
      background-color: #999;
    }
  }
}

.player {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-align: center;

  font-size: 12px;

  border-radius: 50%;
  background-color: #EEE;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

  .player-number {
    line-height: 25px;
  }

  &.active {
    background-color: $primary-color;
    color: #fff;
    cursor: -webkit-grab;
  }
}


.settings-field-wrapper {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEE;

  .settings-field-heading {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 20px 0 20px;

    font-size: 12px;
    color: #999;
  }

  .settings-field {
    position: relative;
    padding: 20px;
    padding-bottom: 0;

    .player {
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }
}

.field {
  width: 343px;
  height: 500px;
  background-image: url('../assets/field-bg.jpg');

  display: flex;
  flex-flow: column nowrap;

  .layout {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin: 35px 0 50px 0;

    .line {
      padding: 0 25px;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;

      .player {
        width: 28px;
        height: 28px;

        box-shadow: 1px 1px 2px #000;
      }
    }
  }
}

.item {
  display: inline-block;
  padding: 3px 8px;
  background-color: $secondary-color;
  color: #FFF;
  border-radius: 3px;
  margin-right: 5px;

  &.selected {
    background-color: $primary-color;
  }
}

.layout-selector {
  .layout-description {
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }
}
